Other/Resources/CA
Other/Resources/PlantUML
Other/Resources/DevelopmentCertificate
Other/Resources/CycloneDXCLI
ConSurvApp/con_surv_app/coverage/lcov.info

CLAUDE.local.md
.claude/settings.local.json
.claude/*.lock
Other/Logs