
@use './app/styles/continuous-surveillance-theme' as *;

html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h1{
    text-align: center;
}
