<title mat-dialog-title>Edit camera</title>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">

        <mat-form-field>
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="Example: Entrance-camera" formControlName="name">
        </mat-form-field>

        <br />

        <mat-form-field>
            <mat-label>Stream-URL</mat-label>
            <input type="text" matInput placeholder="Example: rtsp://example.com" formControlName="rtspstreamurl">
        </mat-form-field>

        <br />

        <mat-checkbox formControlName="isonvifcamera">Can receive ONVIF-commands.</mat-checkbox>

        <br />
        <app-record-mode-indicator [recordMode$]="recordmode$"></app-record-mode-indicator>
        <mat-form-field>
            <mat-label>Record-mode</mat-label>
            <mat-select formControlName="recordmodeselect">
                <mat-option value="NoRecording">No recording</mat-option>
                <mat-option value="RecordAlways">Record always</mat-option>
                <mat-option value="RecordOnMovements">Record on movements</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="cancel()" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="save()">Save</button>
</mat-dialog-actions>
