Artifacts
Resources/TestCoverageBadges/**
!Resources/TestCoverageBadges/badge_shieldsio_linecoverage_blue.svg
Reference/ReferenceContent/api/**
Resources/DependentCodeUnits
Resources/Constants/CodeUnitMajorVersion.*
Resources/Constants/CodeUnitDescription.*
Resources/Constants/CodeUnitName.*
Resources/Constants/CodeUnitVersion.*
Resources/Constants/CommitDate.*
Resources/Constants/CommitId.*
Resources/Constants/CurrentTimestamp.*
Resources/OpenAPIGenerator
!Reference/ReferenceContent/api/index.md