<mat-button-toggle-group name="fontStyle" aria-label="Font Style" [ngModel]="selectedMode$ | async"
    (ngModelChange)="selectedMode$.next($event)">
    <mat-button-toggle [value]="ThemeMode.Light">
        <mat-icon>light_mode</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ThemeMode.System">
        <mat-icon>computer</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle [value]="ThemeMode.Dark">
        <mat-icon>dark_mode</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>
