<ng-container [ngSwitch]="true">
    <ng-container *ngSwitchCase="recordMode!.recordMode =='NoRecording'">
        <mat-icon matTooltip="Not recording">videocam_off</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="recordMode!.recordMode =='RecordAlways'">
        <mat-icon matTooltip="Recording">videocam</mat-icon>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <mat-icon matTooltip="Record-state not available">question_mark</mat-icon>
    </ng-container>
</ng-container>
