@if (recordMode$!=null && (recordMode$|async)!=null) {
  <div>
    @switch (true) {
      @case ((recordMode$|async)!.recordMode=='NoRecording') {
        <mat-icon matTooltip="No recording" i18n-matTooltip="@@record-mode-indicator.tooltip.no-recording">videocam_off</mat-icon>
      }
      @case ((recordMode$|async)!.recordMode =='RecordAlways') {
        <mat-icon matTooltip="Record always" i18n-matTooltip="@@record-mode-indicator.tooltip.record-always">videocam</mat-icon>
      }
      @case ((recordMode$|async)!.recordMode =='RecordOnMovements') {
        <mat-icon matTooltip="Record on movements" i18n-matTooltip="@@record-mode-indicator.tooltip.record-on-movements">emergency_recording</mat-icon>
      }
      @default {
        <mat-icon matTooltip="Record-mode unknown" i18n-matTooltip="@@record-mode-indicator.tooltip.unknown">question_mark</mat-icon>
      }
    }
  </div>
}
@if (!(recordMode$!=null && (recordMode$|async)!=null)) {
  <div>
    <mat-icon matTooltip="Record-state not available" i18n-matTooltip="@@record-mode-indicator.tooltip.not-available">question_mark</mat-icon>
  </div>
}